.gif{
    max-width: 100%;
  }

  .fw{
    background-color:red !important ;
    

}
.fixe{
  background-image: url("../img/sabzi/sea.jpg");
    background-color: rgb(255, 255, 255) !important;
   height: 600px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

 figure {
    margin: 0;
 }