@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

body{
  font-family: 'Jost', sans-serif;
  font-size: 18px;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
